<?xml version="1.0"?>
<model>
  <name>track_ground</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>robo404</name>
  </author>

  <description>
    A flat ground plane with a black line track painted on a light grey surface.
    Used for line-follower simulation testing.
  </description>
</model>
